<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    {# Load the tag library #}
    {% load bootstrap4 %}

    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
        <h2>Claim Info</h2>
        <div style="margin-top: 40px">
            <table class="table  table-bordered">
                <thead>
                    <tr>

                        <th scope="col"  colspan="2" ></th>
                        <th colspan="3" scope="col">Cost</th>
                        <th colspan="3" scope="col">Parts Replaced</th>
                        <th  colspan="4" scope="col"></th>
                    </tr>
                    <tr>
                        <th scope="col">Claim</th>
                        <th scope="col">Dealer Story</th>
                        <th scope="col">Parts</th>
                        <th scope="col">Labor</th>
                        <th scope="col">Total</th>
                        <th scope="col">Part No</th>
                        <th scope="col">Part Desc</th>
                        <th scope="col">Part Amount</th>
                        <th scope="col">Pat Source</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Campaign</th>
                        <th scope="col">Bulletin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <script src="" async defer></script>
</body>

</html>