<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<style>
.black_border{
	border-width: thin !important; padding:.5em;    border: solid black;
}
#vehicle_information{
	    padding-bottom: 1.5rem;
    border: solid black;
    border-bottom-width: thin !important;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}
</style>
{# Load the tag library #}
{% load bootstrap4 %}
<div class="container">
<h2>Main Page</h2>
<div style="border-width: .2rem;    border: solid #f7f7f9;">
<h4>Chassis History</h4>
<div class="container">
<div class="row black_border" >
<div class="col" >

  <div class="row" style="text">
    <div class="col-7" style="display: inline-flex;">
				<span>chassis&nbsp;ID:</span>
      <input type="text" class="form-control">
						<span>&nbsp;&nbsp;Or </span>
    </div>
    <div class="col-5" style="display: inline-flex;">
				<span>ESN:</span>
      <input type="text" class="form-control">
    </div>	
					  <div class="form-group col">
					<div class="form-check">
							<input class="form-check-input" type="checkbox" id="gridCheck">
							<label class="form-check-label" for="gridCheck">
									Engine only
							</label>
					</div>
  	</div>
  </div>


</div>
<div class="col" >		<div class="row">


			<div class="col">
			<span>X axis</span>
			<div class="row black_border">
				<div class="col"  style="display: inline-flex;">  <input type="radio">
						<span   style="    padding-left: .3rem;">Day</span>
				</div>
				<div class="col"  style="display: inline-flex;"> <input type="radio">
				<span  style="    padding-left: .3rem;">Week</span>
				</div>
				<div class="col"  style="display: inline-flex;"> <input type="radio">
				<span  style="    padding-left: .2rem;">Month</span>
				</div>
			
			</div>
			<span>Y axis</span>
			<div class="row black_border">
				<div class="col"  style="display: inline-flex;">  <input type="radio">
						<span  style="    padding-left: .5rem;">Miles</span>
				</div>
				<div class="col"  style="display: inline-flex;"> <input type="radio">
				<span  style="    padding-left: .5rem;">Hours</span>
				</div>
				<div class="col"  style="display: inline-flex;"> <input type="radio">
				<span  style="    padding-left: .5rem;">Km</span>
				</div>
			
			</div>
			<div></div>

			</div>
		</div></div>

</div>
	<div class="row black_border">
	<a href="google.com" style="padding: .5rem;">Print</a>
	<a href="google.com" style="padding: .5rem;">Pdf</a>
	<a href="google.com" style="padding: .5rem;">Export</a>
	<a href="google.com" style="padding: .5rem;">Report</a>
	<a href="google.com" style="padding: .5rem;">Compare</a>
	</div>
		<div class="row black_border">
		<div class="col-3">
				<div id="vehicle_information">		<span>Vehicle Information</span>
			</div>
				<div>
				<div><span>ESN:</span></div>
				<div><span>Engine Family:</span></div>
				<div><span>Model Year:</span></div>
				<div><span>Breakdown of engine configuration:</span></div>

				<div style="padding-top: 2rem;"><span>HP Rating:</span></div>
				<div><span>Truck Model:</span></div>
				<div><span>Current Software Level:</span></div>
				<div><span>Last Software Level:</span></div>
				<div><span>Transmission Configuration:</span></div>


				<div style="padding-top: 2rem;"><span>Mileage:</span></div>
				<div><span>After Treatment of Sw Level:</span></div>
				<div><span>Rear Axis ratio:</span></div>


				</div>
		</div>
		<div class="col-9 black_border">
		<h4>
		 ChassisID Chassis History
		</h2>
		<div>

		<h1 style="text-align: center;padding-top:10rem">Timeline Chart</h1>
		</div>
		
		</div>
		</div>
</div>


</div>
</div>




{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

</body>
</html>
