<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    {# Load the tag library #}
    {% load bootstrap4 %}

    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
        <h2>Plant Data</h2>
        <div class="row">
            <div class="col">
                <div>
                    <div>Chassis ID:</div>
                    <div>Transmission configuration:</div>
                </div>

                <div style="margin-top: 20px">
                    <div>Application:</div>
                    <div>Mileage:</div>
                    <div>After Treatment Software Level:</div>
                    <div>Rear Axle Ratio:</div>
                </div>

            </div>
            <div class="col">


            </div>
        </div>
    </div>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <script src="" async defer></script>
</body>

</html>