<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<style>
.black_border{
	border-width: thin !important; padding:.5em;    border: solid black;
}
#vehicle_information{
	    padding-bottom: 1.5rem;
    border: solid black;
    border-bottom-width: thin !important;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}
</style>
{# Load the tag library #}
{% load bootstrap4 %}
<div class="container">
<div style="border-width: .2rem;    border: solid #f7f7f9;">
<h4>Timelne Chart</h4>
<div class="container">
        <canvas id="myChart" width="400" height="400"></canvas>



</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [0, 50, 100, 150, 200, 250,300,350],
        datasets: [{
            label: ['Chassis history','3','3','3','3','3','3','3'],
            data: [12, 19, 3, 5, 2, 3],
			fill: false,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>



{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

</body>
</html>
